.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: capitalize;
  justify-content: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;

  label {
    padding-top: 20px;
  }

  input {
    padding: 5px;
  }

  button {
    align-self: center;
    width: 35%;
    margin-top: 20px;
    padding:3px;
  }
}