.sign-up-container {
  display: flex;
  width: 380px;
  flex-direction: column;
  text-transform: capitalize;
  
  h2 {
    margin: 10px 0;
  }
}

.sign-up-form {
  display: flex;
  flex-direction: column;

  label {
    padding-top: 20px;
  }

  input {
    padding: 5px;
  }

  button {
    align-self: center;
    width: 35%;
    margin-top: 20px;
    padding:3px;
  }
}